@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --violet: #a18aff;
  --purple: #ca8bfe;
  --blue: #3fd4f4;
  --rose: #fd99af;
  --grey: #717082;
  --light-grey: #9493a9b5;
  --yellow: #fac608;

  --white: #ffffff;
  --black: #000000;

  --headingFont: Arial;
  --bodyFont: 'Roboto', sans-serif;

  --small-text: 0.8rem;

  --radius: 1rem;
  --max-width: 2447px;

  --side-panel-width: 300px;
}

body{
  font-family: var(--bodyFont);
  color: var(--grey);
}


h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-family: var(--headingFont);
  letter-spacing: -1px;
}

h1{
  font-size: 2.2rem;
}

h2{
  font-size: 1.7rem;
  margin-bottom: 0.3rem;

  letter-spacing: -1px;
}

p{
  font-family: var(--bodyFont);
  margin-bottom: 0.4rem;
}

button{
  border: none;
  background-color: transparent;
}

input{
  background-color: transparent;
  border: none;
  font-family: var(--bodyFont);
  letter-spacing: 1px;
  outline: none;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.app-container{
  max-width: var(--max-width);
  height: 100vh;
  margin: 0 auto;
  padding: 0.5rem;
}
@media screen and (max-width: 730px){
  .app-container{
    padding: 0;
  }
}
.circle{
  border-radius: 50%;
}

.splitter-line{
  border-bottom: 1.5px solid var(--violet);
}

.icon{
  width: 1.5rem;
  height: 1.5rem;
  color: var(--light-grey);
}

.route-link{
  text-decoration: none;
  color: inherit;
}

